html,body {
  height: 100%;
  width:100%;
  }

  .navbar {
  	background-color: #99dcd5;
 	font-size: 20px;

  }

  .menu-fixo {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
}

.fundo * {
    z-index: 2;   
	position: relative;
}

.fundo::after {	
	content:"";
	background-image: url('mandala.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;	
	opacity: 0.2;
	padding-top: 60%;
	width: 98%;
	height: 95%;
	position: absolute;
	z-index: -1;
}

@media (max-width: 480px) {
.fundo::after {
	background-repeat: no-repeat;	
	background-attachment: fixed;
	background-position: 0 180px;	    
    height: 290%;
    width: 95%;
   
    }
}

h2 {
	margin-left: 0;
	text-decoration: underline;
}

@media screen and (max-width: 320px) {
	h2 {
	font-size: 27px;
	}
}	

p {
	font-family:"Lato", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: justify;
	font-weight: bold;
    color: #000000;
    text-indent: 50px;
}

.texto3 {	
	margin-left: 170px;
}

@media screen and (max-width: 320px) {
.texto3 {
	margin-left: -40px;
	margin-right:;
	}
}

.texto4 {
	padding-top: 100px;
} 

footer {
	background-color: #16a99d;
	margin-top: 265px;
}

footer a {
	color: blue;
}

.redes {
	margin-top: 20px;
}

.redes img {
	width: 20%;
	height: 20%;
}

.back-to-top {
	width: 60px;
	height: 60px;
	display: block;
	position: fixed;
	bottom: 10px;
	right: 20px;
}

.back-to-top:hover {
	cursor: pointer;
	background-position: 0 -60px;
}
