* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
}

html,body{
	height: 100%;
	width:100%;
}

.container {
	width: auto;
}

.navbar {
	background-color: #99dcd5;
	font-size: 20px;
}

.menu-fixo {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
}

.mandala {
	padding-top: 20px;
	padding-bottom: 20px;
}

#especialidades {
	padding-top: 70px;
	padding-bottom: 50px;
}

#especialidades h1 {
	padding-bottom: 20px;
}

#especialidades h3 {
	color: #99dcd5;	
}

#especialidades h2 {
	color: #99dcd5;	
	font-size: 16px;
}

@media screen and (max-width: 767px) {
#especialidades h2 {
  	font-size: 14px;
  }
}

.abord-2 {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #effffc;	
}

.abord-2 p {
	left: 200px;
	right: 200px;
	margin-top: 30px;
	text-align: center;
}

.abord-2 h1 {
	padding-bottom: 20px;
}

@media screen and (min-width: 767px) and  (max-width: 991px) {
	.abord-2  {
		margin-left: -10px;		
	}
}

.espe img {
	padding-top: 25px;
}

h1 {
	border-bottom: 2px solid #005f63;
	color:  #01a093;
	font-size: 40px;
}

.texto1 {
	padding-top: 50px;
	padding-bottom: 70px;
	background-color: #effffc;
	margin-top: -25px;
}
.texto1 p {
	text-align: justify;
	text-indent: 50px;
}

p {
	font-family:"Lato", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: justify;
}

#formulario input {	
    padding: 10px;
    background-color: #eee;
    border: none;
    border-left: 3px solid #eee;
    border-radius: 3px;
    outline: none;
}

.localizacao {
	left: 200px;
}

@media screen and (max-width: 767px) {
	.localizacao {
		left: -10px; 
	}
} 

#contato {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: ;
}

#contato h3 {
	font-size: 18px;
  }


footer {
	background-color: #16a99d;
	padding-bottom: 15px;
	padding-top: 20px;
}

footer a {
	color: blue;
}

.redes {
	padding-top: 5px;
}

.redes img {
	width: 20%;
	height: 20%;
}

.back-to-top {
	width: 60px;
	height: 60px;
	display: block;
	position: fixed;
	bottom: 10px;
	right: 20px;
}

.back-to-top:hover {
	cursor: pointer;
	background-position: 0 -60px;
}

.copyright p {
    font-size: 13px;
    font-variant: small-caps;
    text-align: center;
    color: #737373;
}

iframe {
	border: 5px solid #fcfcfc;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
