* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-size: 100%;
	border: none;
	font-weight: 300;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	width: 100%;
}

.container {
	width: 100%;
}
.container-fluid {
	width: 100%;
}

p {
	font-family:"Lato", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: justify;
	font-weight: bold;
    color: #000000;
    
}

h1 {
	border-bottom: 2px solid #005f63;
	color:  #01a093;
	font-size: 40px;
	padding-bottom: 50px;
}

h2 {
	color: #005f63;
}

.navbar {
	background-color: #99dcd5;
	font-size: 20px;
}

.menu-fixo {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
}

.mandala {
	padding-top: 20px;
	padding-bottom: 20px;
}

.citacao {
	display: block;
	width: 900px;
    margin: 20px auto;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    text-indent: 50px;
    color: #ccc;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 991px) {
.citacao {
	width: 100%;
	}
}

blockquote {
	color: #a8a8a8;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    margin-bottom: 10px;
}

small {
    font-size: 11px;
    padding-left: 20px;
    color: #ccc;
}

/* Especialidades da clinica */
#especialidades {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #effffc;
}

#especialidades h1 {
	padding-bottom: 70px;
}

#especialidades h3 {
	color: #99dcd5;
	padding-top: 30px;
	padding-bottom: 15px;	
}

#especialidades h2 {
	color: #99dcd5;	
	font-size: 16px;
}

#especialidades img {
	padding-top: 40px;
}

@media screen and (max-width: 767px) {
	#especialidades h2 {
	  	font-size: 14px;
	  }
	}

.espe {
	width: 90%;
    margin: 20px auto;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

/*Texto de apresentacao */
.texto1 {
	padding-top: 50px;
	padding-bottom: 70px;
	background-color: #effffc;
	margin-top: -25px;
}
.texto1 p {
	text-align: justify;
	text-indent: 50px;
}

.fundo * {
    z-index: 2;   
	position: relative;
}

/*Informacoes dos profissionais*/
.prof {
	margin-top: 70px;
	margin-bottom: 70px;
}

.profissionais {
	width: 900px;
	margin: 0px auto;
	margin-top: 50px;
	margin-bottom: 80px;
}

.profissionais p {
	padding-bottom: 50px;
}

@media screen and (max-width: 991px) {
	.profissionais {
		width: 100%;
	}
}

.fundo::after {	
	content:"";
	background-image: url('mandala.png');	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	opacity: 0.2;	
	width: 98%;
	height: 100%;	
	position: absolute;
	z-index: -1;
	margin-top: 200px;
}

@media screen and (max-width: 767px) {
.fundo::after {
	background-attachment: fixed;
	background-repeat: no-repeat;				
	box-sizing: border-box;	
	background-position: initial;
    width: 95%;    
    margin-bottom: 0;
    padding-bottom: auto;     
    }
}

/*Contato */
#contato {
	padding-top: 10px;
	padding-bottom: 50px;	    
    margin-top: 20px;
    background-color: #aee4df;        
}

#contato h3 {
	font-size: 18px;
  }

#formulario input {	
    padding: 10px;
    background-color: #eee;
    /* border: none;
    border-left: 3px solid #eee;
    border-radius: 3px; */
    outline: none;
}

.localizacao {
	left: 180px;
}

@media screen and (max-width: 767px) {
	.localizacao {
		left: -20px; 
	}
} 

footer {
	background-color: #16a99d;
	padding-bottom: 15px;
	padding-top: 20px;
}

footer a {
	color: blue;
}

.rodape {
	width: 1250px;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	.rodape {
		width: 100%;
	}
}

.redes {
	padding-top: 5px;
}

.redes img {
	width: 20%;
	height: 20%;
}

.back-to-top {
	width: 60px;
	height: 60px;
	display: block;
	position: fixed;
	bottom: 10px;
	right: 20px;
}

.back-to-top:hover {
	cursor: pointer;
	background-position: 0 -60px;
}

.copyright p {
    font-size: 13px;
    font-variant: small-caps;
    text-align: center;
    color: #737373;
}

iframe {
	border: 5px solid #fcfcfc;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
